In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df =pd.read_csv('data/Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X =df.drop(labels=['CustomerId','Surname','RowNumber','Exited'], axis=1)
y = df['Exited']

In [5]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
X=pd.get_dummies(X,columns=['Geography','Gender'])
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [7]:
from sklearn.preprocessing import StandardScaler
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, stratify = y)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
X_train.shape

(8000, 13)

In [9]:
X.shape[1]

13

In [12]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense

In [13]:
model = Sequential()
model.add(Dense(50, activation='relu', input_dim = X.shape[1]))
model.add(Dense(128, activation ='relu'))
model.add(Dense(100,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [15]:
%%time
model.compile(optimizer ='adam',
              loss = 'binary_crossentropy',
             metrics=['accuracy'])

Wall time: 23.7 ms

In [17]:
%%time
model.fit(X_train, y_train.to_numpy(), batch_size = 10, epochs = 10, verbose = 1)

Epoch 1/10
800/800 [==============================] - 3s 1ms/step - loss: 0.4449 - accuracy: 0.8143
Epoch 2/10
800/800 [==============================] - 1s 954us/step - loss: 0.3521 - accuracy: 0.8578
Epoch 3/10
800/800 [==============================] - 1s 944us/step - loss: 0.3390 - accuracy: 0.8597
Epoch 4/10
800/800 [==============================] - 1s 954us/step - loss: 0.3338 - accuracy: 0.8636
Epoch 5/10
800/800 [==============================] - 1s 995us/step - loss: 0.3252 - accuracy: 0.8672
Epoch 6/10
800/800 [==============================] - 1s 951us/step - loss: 0.3212 - accuracy: 0.86580s - loss: 0.3203 - accura
Epoch 7/10
800/800 [==============================] - 1s 934us/step - loss: 0.3252 - accuracy: 0.8643
Epoch 8/10
800/800 [==============================] - 1s 941us/step - loss: 0.3190 - accuracy: 0.8682
Epoch 9/10
800/800 [==============================] - 1s 978us/step - loss: 0.3078 - accuracy: 0.8756
Epoch 10/10
800/800 [==============================] - 1s 951us/step - loss: 0.3036 - accuracy: 0.8819
Wall time: 11.8 s

In [20]:
y_pred= model.predict_classes(X_test)

In [21]:
model.evaluate(X_test, y_test.to_numpy())

63/63 [==============================] - 0s 752us/step - loss: 0.3693 - accuracy: 0.8585

[0.36930975317955017, 0.8585000038146973]

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [25]:
confusion_matrix(y_test, y_pred)

array([[1535,   58],
       [ 225,  182]], dtype=int64)

In [26]:
accuracy_score(y_test, y_pred)

0.8585

In [27]:
#Using RandomForest

In [30]:
%%time
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(X_train, y_train)
#make predictions
y_pred = clf.predict(X_test)
accuracy_score(y_test,y_pred)

Wall time: 798 ms

0.8585